@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 84% 60%;

    --card: 0 0% 6%;
    --card-foreground: 0 84% 60%;

    --popover: 0 0% 6%;
    --popover-foreground: 0 84% 60%;

    --primary: 0 84% 60%;
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 84% 60%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 50%;

    --accent: 0 91% 71%;
    --accent-foreground: 0 0% 4%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 84% 60%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto Mono", monospace;
  }
}
